<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Annotator</title>
        <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.ui.touch-punch.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">


        <style>
            #droppable {
                height: 150px;
                padding: 0.5em;
                margin: 10px;
            }

            .draggable{
                border: 1px solid black;
            }

            #foodItemModal {
                top:50%;
                outline: none;
            }
        </style>
        <script>

            var annotationList = [];
            var food_item_selected;
            var menu_item_selected;

            $(function() {

                // Get the review words
                $.ajax({
                    type: 'GET',
                    url: 'getReview',
                    dataType: 'json',
                    success: function (data) {
                        reviewWords = data.results;
                        reviewID = data.id;

                        // Get each word of the review
                        $.each(reviewWords, function(index, word) {
                            console.log(word);
                            $('#reviewWords').append(createDraggableWord(index, word))
                        });

                        $( ".draggable" ).draggable();


                    }
                });

                // Saving the menu item with the annotation
                $('#saveMenuItem').on('click', function (e) {

                    if($('.sentimentButton.btn-primary').length == 1)
                    {
                        annotation = {
                            'foodItem' : food_item_selected,
                            'menuItem' : menu_item_selected,
                            'sentiment': $('.sentimentButton.btn-primary')[0].childNodes[0].data
                        };
                        console.log(annotation);
                        annotationList.push(annotation);
                        $('#foodItemModal').modal('hide');
                    }

                });

                // Handle next food item
                $('#nextFoodItem').on('click', function (e) {
                    food_item_selected = $('#food_items').html().split(",");
                    $('#food_items').html('');
                    $('#food_item').html(food_item_selected);
                    $('#droppable').removeClass( "ui-state-highlight");

                    $('#foodItemModal').modal('show');
                    resetFoodItemSentiment();
                });

                // Handle next food item
                $('#nextreview').on('click', function (e) {
                    annotationObj = {
                        'annotations': annotationList
                    };
                    $.ajax({
                        url: '/saveAnnotation',
                        data: JSON.stringify(annotationObj),
                        type: 'PUT',
                        contentType: 'application/json',
                        dataType : 'json',
                        success: function(response) {

                            if (response.results.status != 'Done')
                            {
                                alert('Missing Data');
                            }
                            else
                            {
                                // On success, reset the annotation list
                                annotationList = [];

                            }
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                });


                $( "#droppable" ).droppable({
                    drop: function( event, ui ) {

                        item = ui.draggable[0].childNodes[0].childNodes[0].nodeValue;
                        current_food_items = $('#food_items').html();

                        // hide the word
                        $('#' + ui.draggable[0].id).hide();

                        if (current_food_items.trim().length > 0){
                            current_food_items += ', ' + item;
                            $('#food_items').html(current_food_items);
                        }
                        else{
                            $('#food_items').html(item);
                        }
                        $( this )
                            .addClass( "ui-state-highlight" )
                            .find( "p" )
                            .html( "Dropped!" );
                    },
                    out: function( event, ui ) {
                        $( this )
                            .removeClass( "ui-state-highlight" )
                            .find( "p" )
                            .html( "Out!" );
                    }
                });

                $(".dropdown-menu li a").click(function(){

                    $("#currentMenu").text($(this).text());
                    $("#currentMenu").val($(this).text());

                    menu_item_selected = $(this).text();

               });

                // .btn is the class of the element you want to change color
                $(".sentimentButton").click(function() {

                    $(this).removeClass('btn-success').toggleClass('btn-primary');
                });
            });

            function createDraggableWord(index, word)
            {
                html = '<div id="word_' + index + '" class="draggable" class="ui-widget-content">';
                html += '<p>' + word + '</p>';
                html += '</div>';

                return html;
            }

            function resetFoodItemSentiment()
            {
                $("#currentMenu").text('-Select-');
                $('.sentimentButton').removeClass('btn-primary')
            }
        </script>
    </head>
<body>


<div class="row">
    <div class="col-md-12" id="reviewWords"></div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div id="droppable" class="ui-widget-header centered">
            <h6>Food Items</h6>
            <div id="food_items">
            </div>
        </div>
       <div class="btn-group" role="group" id="annotation_buttonGroup">
            <button id="nextFoodItem" type="button" class="btn btn-default annotation_button">Next Food Item</button>
            <button id="nextreview" type="button" class="btn btn-default annotation_button">Next Review</button>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<div id="foodItemModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Food Item : <span id="food_item"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        Select the Menu Item
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button"
                                    id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span id="currentMenu">-Select-</span> &nbsp; <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row addTopMargin">
                    <div class="col-md-6">
                        Select the Sentiment
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group" role="group" id="sentimentButtonGroup">
                            <button type="button" class="btn btn-default sentimentButton">Bad</button>
                            <button type="button" class="btn btn-default sentimentButton">So-So</button>
                            <button type="button" class="btn btn-default sentimentButton">Nice</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="saveMenuItem" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>