#reviewWords{
    width: 100%;
}

.draggable{
    padding: 10px 5px;
    float: left;
}

#annotation_buttonGroup{
    width: 100%;
    padding: 0.5em;
}

.annotation_button{
    width: 50%;
}

#sentimentButtonGroup{
    width: 100%;
}

.sentimentButton{
    width: 33%;
}