#reviewWords{
    width: 100%;
}

.draggable{
    padding: 10px 5px;
    float: left;
}

#annotation_buttonGroup{
    width: 100%;
    padding: 0.5em;
}

.annotation_button{
    width: 50%;
}

#sentimentButtonGroup{
    width: 100%;
}

.sentimentButton{
    width: 33%;
}

#dropdownMenu1{
    width: 97%;
}

.btn:active,
.btn.active {
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}